@import "./mixins";
@import "./variables";

.shops {
    padding-top: 96px;
    background-color: $theme-background;
    @include mobile{
        scroll-margin-top: 16px;
        padding: 0 $padding_mobile;
        padding-top: 4.8rem;
    }
    @include tablet{
        scroll-margin-top: 32px;
        padding: 0 $padding_tablet;
        padding-top: 4.8rem;
        
    }
    @include centralize($direction: column);
    &__text {
        margin: 64px 0;
        width: 640px;
        @include mobile{
            margin: 2.4rem;
            width: 100%;
        }
        @include tablet{
            margin: 2.4rem;
            width: 80%;
        }
    }

    &__cards {
        @include centralize;
        max-width: 700px;
        position: relative;
        gap: 64px 96px;
        flex-wrap: wrap;
        @include mobile{
            max-width: 100%;
            gap: 4.8rem;
        }
        @include tablet{
            max-width: 100%;
            gap: 4.8rem;
        }
    }
    
    &__card {
        @include card_title;
        transition: $transition;
        width: 269px;
        height: 162px;
        position: relative;
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
        
        &::before {
            content: "Ver Localização";
            @include centralize;
            color: $white;
            border-radius: 10px;
            cursor: pointer;
            transition: all $transition;
            font-size: 1.8rem;
            font-family: $inter;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.78) 100%
            );
            opacity: 0;
            transform: scale(1.05);
        }
        
        &:hover::before{
            transform: scale(1);
            opacity: 1;
        }
        &:hover{
            transition: $transition;
            transform: scale(1.05);
        }
    }
}
