$blue: #193983;
$red: #e91e1e;
$white: #fff;
$black: #000;
$gray: #d4cfcf;
$light: #fff;
$dark: #051222;
$theme-background: #fff;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;

$text: 2.4rem;
$title: 3.6rem;

$padding: 12.4rem;
$padding_tablet: 4.8rem;
$padding_mobile: 2.4rem;
$transition: 0.3s;
